@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  text-align: center;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 400px;
  background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png');
  background-color: #111;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
}

h1 {
  color: white;
}

th,
tr,
td {
  padding: 10px;
  color: whitesmoke;
  text-align: center;
}

button {
  border-radius: 8px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(105,89,205, 0.719);
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: 540;
}

button:hover{
  background-color: rgb(72,61,139);
  transition: 0.5s;
}

input {
  border-radius: 8px;
  height: 30px;
  border: solid rgba(56, 56, 196, 0) 2px;
  background-color: rgb(77, 77, 139);
  color: whitesmoke;
}

.add-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 2px;
  border-collapse: collapse;
  background-color: rgba(83, 75, 133, 0.432);

}
#tabelaJogadores img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}